/* .tableLayer {
  margin: 0 auto;
  margin-top: 100px;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 1200px;
}

th,
td {
  padding: 6px 15px;
}

th {
  background: #42444e;
  color: #fff;
  text-align: left;
}

td {
  border-right: 1px solid #c6c9cc;
  border-bottom: 1px solid #c6c9cc;
}

td:first-child {
  border-left: 1px solid #c6c9cc;
}

tr:nth-child(even) td {
  background: #eaeaed;
} */


.title {
  font-size: 30px;
  text-align: center;
  font-weight: bolder;
}

.sub-title {
  font-size: 23px;
  text-align: center;
}

.content {
  font-size: 17px;
  padding: 30px 40px;
}

.article {
  padding: 10px;
  margin-bottom: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}