.display-5 {
    font-size: 3rem;
    font-weight: 500;
}

.left-img {
    width: 300px;
}

.count-text {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.count-under-text {
    text-align: center;
    font-size: 15px;
}

.video-style {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.vidoe-deco {
    transform: translate3d(0px, 115px, 0px);
}

.play-btn {
    background-color: #fff;
    text-transform: capitalize;
    letter-spacing: -.011rem;
    font-weight: 500;
    --bs-btn-focus-box-shadow: 0 6px 30px -3px rgba(var(--bs-btn-focus-shadow-rgb), .325);
}

.btn-circle-ripple.btn-outline-white::before,
.btn-circle-ripple.btn-white::before {
    box-shadow: 0 0 0 1px #fff !important;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(1.5);
        opacity: 0;
    }
}

.btn-circle-ripple::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    box-shadow: 0 0 0 1px currentColor;
    -webkit-animation: pulse 2s infinite ease-in-out;
    animation: pulse 2s infinite ease-in-out;
}

.height-10x {
    height: 6rem !important;
}

.width-10x {
    width: 6rem !important;
}

.bx {
    font-family: boxicons !important;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    display: inline-block;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.i-size {
    font-size: 3rem;
    line-height: 6rem;
}
