.text {
    text-align: center;
    top: 30%;
    left: 35%;
}

.c-text {
    color: white;
    font-weight: 700;
    font-size: 2rem;
}

@media (min-width:993px) {
    .carousel-custom {
        overflow: hidden;
        width: 100%;
    }
}

@media (max-width: 992px) {
    .carousel-custom {
        overflow: hidden;
        height: 400px;
        width: auto !important;
    }
}